[Desktop Entry]

Encoding=UTF-8
Version=1.0
Type=Application
Name=Stellarium
Categories=Education;Science;Astronomy;
Exec=stellarium
Icon=/usr/share/stellarium/data/stellarium.ico
